* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

body {
    width: 100%;
    background: #FAFAFA;
}

#Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 114px;
   
    position: fixed;
    height: hug(199px);
    left: 0%;
    right: 0%;
    top: 0px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 0px;
   
}

#logo-duble-dip-navbar {
    width: 120px;
    height: 119px;
}

#SearchField {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;

    width: 450px;
    height: 61px;

    background: #FFFFFF;
    border: 0.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;
}

#icone-lupa {
    width: 20px;
    height: 20px;
    order: 0;
}

#campo-de-pesquisa{
    width: 398px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 0;
    color: rgba(96, 96, 96, 0.6);
    order: 1;
  

}
/*
#input-mobile {
    display: none;
}*/

.container-cards{
    margin-top: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.cards {
    margin: 80px 114px;
    display: grid;
    grid-template-rows: 50fr 50fr;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    row-gap: 32px;
    column-gap: 32px;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 31px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.imagem-do-produto{
    margin-left: auto;
    margin-right: auto;
}

.parte-textual {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nome-do-produto {
    width: 270px;
    height: 39px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #292929;
}

.descricao-do-produto {
    width: 270px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #606060;
}

.preco {
    width: 89px;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 31px;
    padding: 8px;
    gap: 10px;
    background: rgba(249, 199, 191, 0.5);
    border-radius: 8px;

}

.produto-grande-img {
    width: 270px;
    height: 270px;
}

.produto-pequeno-img {
    width: 192px;
    height: 192px;
}

#tablito-picole {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#brigadeiro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}


#kolorex {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#chicabom {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#kibom{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#minions{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    background: #F2F2F2;
    width: 100%;
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 114px;
    
    height: Hug(155.02px);
    
}

#redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 253px;
    height: 35px;
}

.rede-social {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 35px;
    height: 35px;
    border: 1.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 50%;
    
}

#logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin: 0 323px;
    width: 60px;
    height: 59.02px;
}

#logo-duble-dip-footer {
    width: 60px;
    height: 59.02px;
}

#Pricing{
    display: flex;
    flex-wrap: nowrap;
    width: 253px;
    height: 17px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;


    color: #292929;

}